{% extends 'base.html'  %}
{% load static %}
{% block content %}
<main class="w-100 text-center">
    <header class="w-100 my-3">
        <nav class="nav d-flex flex-wrap justify-content-center">
            <a class="nav-link p-0 my-2 mx-3" href="#">Sign Up</a>
            <a class="nav-link p-0 my-2 mx-3" href="#">Sign In</a>
        </nav>
    </header>
    <div class="h-100 py-4 px-3 container row mx-auto d-flex flex-wrap bg-lightblue board">
        <img src="{% static 'app/images/teams.svg' %}" alt="Hello, colaborator" class="col-sm-5 w-100">
        <div class="col-sm-7 w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="m-0">Hire a Freelancer</h1>
            <h4 class="m-0 subtitle maxwidth-85">Look for services offered and help by hiring a freelancer</h4>
            <form class="d-flex flex-wrap align-items-center justify-content-center mt-4">
                <div class="form-group m-2">
                    <input
                        type="text"
                        id="service"
                        name="service"
                        class="form-control form-control-lg"
                        title="What are you looking for?"
                        placeholder="What are you looking for?"/>
                </div>
                <button class="btn btn-lg btn-primary m-2">Search</button>
            </form>
        </div>
    </div>
</main>

<section class="container p-0 my-4 mx-auto row d-flex justify-content-center flex-wrap">
    <div class="col-md-4 p-2 w-100">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h4 class="d-flex align-items-center">
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-person-plus-fill mr-2"
                        fill="#0FC47A"
                        xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                    </svg>
                    Help people
                </h4>
                <p class="card-text">Help people who are self-employed and have no fixed income.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-2 w-100">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h4 class="d-flex align-items-center">
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-cash mr-2"
                        fill="#0FC47A"
                        xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                      <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                    </svg>
                    Good for your pocket
                </h4>
                <p class="card-text">Find the same services with better prices than the common ones in the market.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-2 w-100">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h4 class="d-flex align-items-center">
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-person-badge-fill mr-2"
                        fill="#0FC47A"
                        xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                    </svg>
                    Several options
                </h4>
                <p class="card-text">Several options in the same place, hire the freelancer that you like best.</p>
            </div>
        </div>
    </div>
</section>

<section class="container py-4 px-3 my-4 mx-auto row d-flex justify-content-center align-items-center flex-wrap board bg-lightgreen">
    <div class="col-sm-6 p-2 w-100">
        <h1>Be part of it</h1>
        <h4 class="subtitle maxwidth-85">Are you a freelancer? Sign up for the platform and gain visibility for your work! </h4>
        <button class="btn btn-lg btn-light text-green mt-3">Join now</button>
    </div>
    <img src="{% static 'app/images/join.svg' %}" alt="Team illustration" class="col-sm-6 w-100">
</section>
{% endblock content %}