{% extends 'base.html'  %}
{% load static %}
{% block content %}
<main class="w-100 text-center">
    <header class="w-100 my-3">
        <nav class="nav d-flex flex-wrap justify-content-center">
            <a class="nav-link p-0 my-2 mx-3" href="/">Home</a>
            <a class="nav-link p-0 my-2 mx-3" href="/register">Register</a>
            <a class="nav-link p-0 my-2 mx-3" href="#">Login</a>
        </nav>
    </header>
    <div class="h-100 py-4 px-3 container row mx-auto d-flex align-items-center flex-wrap bg-lightgreen board">
        <div class="col-lg-5">
            <h1 class="m-0">Sign Up</h1>
            <h4 class="mt-2 subtitle">Gain visibility for your work!</h4>
            <img src="{% static 'app/images/join.svg' %}" alt="Hello, colaborator" class="w-100 mt-3 mb-lg-0 mb-3">
        </div>
        <div class="col-lg-7 w-100 d-flex flex-column justify-content-center align-items-center">
            <form method="post" class="w-100 px-3 text-left">
                {% csrf_token %}
                {% include "form_snippet.html" with form=freelancer_form %}
                <button type="submit" class="btn btn-lg btn-light text-green">Join now</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}