{% extends 'base.html'  %}
{% load static %}
{% block content %}
<main class="w-100 text-center">
    <header class="w-100 my-3">
        <nav class="nav d-flex flex-wrap justify-content-center">
            <a class="nav-link p-0 my-2 mx-3" href="/">Home</a>
            <a class="nav-link p-0 my-2 mx-3" href="/join">Join</a>
            <a class="nav-link p-0 my-2 mx-3" href="/manage-account">Change my account data</a>
        </nav>
    </header>
    <div class="h-100 py-4 px-3 container d-flex flex-column align-items-center bg-lightgreen board">
        <div class="row d-flex flex-wrap justify-content-center mb-4 px-3">
            <div class="col-md-5 w-100 d-flex flex-column align-items-center justify-content-center mb-lg-0 mb-3">
                <h1 class="m-0">Sign Up</h1>
                <h4 class="mt-2 subtitle">Send your subscription and gain visibility for your work!</h4>
            </div>
            <img src="{% static 'app/images/join.svg' %}" alt="Join" class="col-md-7 w-100">
        </div>
        <form method="post" class="w-100 px-3 text-left">
            {% csrf_token %}
            <h3>Personal data</h3>
            {% include "form_snippet.html" with form=freelancer_form %}
            <h3 class="mt-4">Contact and Social Networks <span>(optional)</span></h3>
            {% include "form_snippet.html" with form=contact_form %}
            <button type="submit" class="btn btn-lg btn-light text-green">Join now</button>
        </form>
    </div>
</main>
{% endblock content %}