{% extends 'base.html'  %}
{% load static %}
{% load filters %}
{% block content %}
<main class="w-100 text-center">
    {% include "header.html" %}
    <div class="h-100 mt-3 py-4 px-3 container row mx-auto d-flex flex-wrap bg-lightgreen board">
        <img src="{% static 'app/images/success.svg' %}" alt="Hello, colaborator" class="col-sm-5 w-100">
        <div class="col-sm-7 w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="m-0">Thank you!</h1>
            <h4 class="m-0 subtitle maxwidth-85">Your evaluation will help others to find the best results.</h4>
            <a href="/" class="btn btn-lg btn-light text-green mt-3">Go to home</a>
        </div>
    </div>
</main>
{% endblock content %}